gcp_project_id      = "__REPLACE__"
github_organization = "__REPLACE__"
github_repository   = "__REPLACE__"
tfc_organization    = "__REPLACE__"
tfc_project         = "__REPLACE__"
tfc_workspace       = "__REPLACE__"

tfc_variables = {
  gcp_project              = { value = "__REPLACE__" }
  gcp_instance             = { value = "n2-standard-2" }
  hcp_project_id           = { value = "__REPLACE__" }
  server_nodes             = { value = 3 }
  nomad_clients            = { value = 2 }
  nomad_gpu_clients        = { value = 0 }
  subnetwork_cidr          = { value = "10.64.0.0/16" }
  gcp_sa                   = { value = "__REPLACE__" }
  cluster_name             = { value = "dc1-hcp" }
  owner                    = { value = "__REPLACE__" }
  consul_license           = { value = "__REPLACE__", sensitive = true }
  nomad_license            = { value = "__REPLACE__", sensitive = true }
  dns_zone                 = { value = "doormat-accountid" }
  consul_bootstrap_token   = { value = "__REPLACE__", sensitive = true }
  nomad_client_preemptible = { value = true }
  letsencrypt_email        = { value = "__REPLACE__" }
}
